html{
  height: 100%;
}
body {
  background: url('https://s3.amazonaws.com/StartupStockPhotos/uploads/42.jpg');
  font-family: 'Slabo 27px', serif;
  height: 101%
}
a {
  text-decoration: none;
  color: #00a9ff;
  font-family: 'Slabo 27px', serif;
}
a:hover{
  text-decoration: underline;
}
p{
    font-family: 'Slabo 27px', serif;
    text-align: center;
}
.bookmark-folder {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  font-family: 'Slabo 27px', serif;
}
.links-list {
  position: relative;
  display: block;
  min-width: 250px;
  min-height: 60px;
  width: 200px;
  height: 50px;
  background-color: #ddd;
  border-radius: 2px;
  font-family: Helvetica;
  padding: 5px 40px;
  background: rgba(255, 255, 255, 0.9);
  box-sizing: border-box;
  margin: 30px 50px;
}
.list{
  position: absolute;
  display: none;
  top: 40px;
  left: 0px;
  background-color: rgba(0,0,0, .9);
  width: 300px;
  border-radius: 5px;
  padding: 30px;
  z-index: 2;
}
.links-list:hover > .list{
  display: block;
}
